.policy-card {
	padding-bottom: 4rem;
	width: 16.75rem;
}

.policy-card .policy-group {
	border: 0.063rem solid var(--color-brand-primary-lighten-6);
	border-radius: 0.5rem;
	box-shadow: 0px 10px 30px rgba(77, 133, 255, 0.09);
	height: 15rem;
	padding: 3rem 1rem;
	text-align: center;
}

.policy-card .policy-group .policy-icon img {
	width: 4rem;
}

.policy-card .policy-group .policy-title {
	font-size: 1.125rem;
	font-weight: var(--font-weight-bolder);
	padding-top: 1rem;
}

.policy-card .policy-group .policy-url {
	display: flex;
	font-weight: var(--font-weight-bolder);
	justify-content: center;
	padding-top: 0.5rem;
}

.policy-card .policy-group .policy-url img {
	margin-left: 0.25rem;
}
