<div class="policy-card">
	<div class="policy-group">
		<div class="policy-icon">
		<img alt="" data-lfr-editable-id="01-image" data-lfr-editable-type="image" src="[resources:house_blue.svg]" />
		</div>

		<div class="policy-title" data-lfr-editable-id="01-text" data-lfr-editable-type="text" id="01-text">
			General Liability Insurance.
		</div>

		<div class="policy-url">
		<a data-lfr-editable-id="02-link" data-lfr-editable-type="link" href="#">More info</a>

		<img alt="" data-lfr-editable-id="02-image" data-lfr-editable-type="image" src="[resources:info.svg]" />
		</div>
	</div>
</div>